<%= form_with(model: task_cell, local: true) do |form| %>
  <% if task_cell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_cell.errors.count, "error") %> prohibited this task_cell from being saved:</h2>

      <ul>
      <% task_cell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :finished %>
    <%= form.check_box :finished %>
  </div>

  <div class="field">
    <%= form.label :goal_cell_id %>
    <%= form.hidden_field :goal_cell_id, value: @goal_cell.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
