<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :board_id %>
    <%= form.text_field :board_id %>
  </div>

  <div class="field">
    <%= form.label :cell_id %>
    <%= form.text_field :cell_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :cell_kind %>
    <%= form.number_field :cell_kind %>
  </div>

  <div class="field">
    <%= form.label :board_kind %>
    <%= form.number_field :board_kind %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :creation_cell %>
    <%= form.check_box :creation_cell %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
