<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @user.board %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @user.cell %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Cell kind:</strong>
  <%= @user.cell_kind %>
</p>

<p>
  <strong>Board kind:</strong>
  <%= @user.board_kind %>
</p>

<% if @user.photo.present? %>
  <strong>Photo:</strong>
  <%= image_tag (@user.photo.url) %>
<% end %>

<p>
  <strong>Creation cell:</strong>
  <%= @user.creation_cell %>
</p>

<p>
  <strong>Projects</strong>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Projects Finisheds</strong>
  <ul>
    <% @projects_finisheds.each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Articles</strong>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Questions on Forum</strong>
  <ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.title, question %></li>
    <% end %>
  </ul>
</p>

<%if can? :edit, @user%>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<%end%>
<%= link_to 'Back', users_path %>
