<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @user.board %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @user.cell %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Cell kind:</strong>
  <%= @user.cell_kind %>
</p>

<p>
  <strong>Board kind:</strong>
  <%= @user.board_kind %>
</p>

<% if @user.photo.present? %>
  <strong>Photo:</strong>
  <%= image_tag (@user.photo.url) %>
<% end %>

<p>
  <strong>Creation cell:</strong>
  <%= @user.creation_cell %>
</p>
<%if can? :edit, @user%>
  <%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%end%>
<%= link_to 'Back', users_path %>
