<%= form_with(model: board, local: true) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="board_new_container">
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, class: "board_new_field_name"%>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description, class: "board_new_field_description" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Criar", class: "board_new_button" %>
  </div>
<% end %>
