<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<p>
  <strong>Director</strong>
  <%= @director.name %>
  <%= link_to "Profile", @director %>
</p>

<p>
  <strong>Accessors</strong>
  <ul>
    <% @accessors.each do |accessor| %>
      <li><%= accessor.name %>
      <%= link_to "Profile", accessor %></li>
    <% end %>
  </ul>
</p>

<ul>
<% @goals.each do |goal| %>
  <li><%= goal.name %></li>
  <li><%= link_to "Show", {:controller => "goal_boards", :action => "show", :id => goal.id} %></li>
  <li><%= link_to "Edit", {:controller => "goal_boards", :action => "edit", :board => @board.id, :id => goal.id } %></li>
  <li><%= link_to "Destroy", goal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>

<%= render 'goal_boards/form', {board: @board, goal_board: GoalBoard.new} %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
