<p id="notice"><%= notice %></p>

<div class="content">
  <section class="article">
      <h1>Artigos</h1>
      <div class="line"></div>

    <table>
      <%# <thead>
        <tr>
          <th>User</th>
          <th>Title</th>
          <th colspan="3"></th>
        </tr>
      </thead> %>

      <tbody>
        <% @articles.each do |article| %>
            <tr>
              <td>
                <% if article.user.photo.present? %>
                  <%= image_tag (article.user.photo.url) %>
                <% end %>
              </td>
              <td><%= article.user.name  %></td>
              <td><%= link_to article.title, article, :class => "article_title" %></td>
              <td><%= article.created_at.to_date%></td>
              <%if can? :edit, article%>
                  <td><%= link_to 'Editar', edit_post_path(article) %></td>
              <%end%>
              <%if can? :destroy, article%>
                  <td><%= link_to 'Apagar', article, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
              <%end%>
            </tr>
        <% end %>
      </tbody>
    </table>

    <br>



    <%= link_to 'Nova postagem', new_article_path %>
    </section>
</div>