<section class="forum_list">
  <p id="notice"><%= notice %></p>

  <h1>Forum</h1>
  <div class="line"></div>

    <div class="search">
      <%= form_tag(forum_path, method: :get) do %>
        <%= select_tag :tag, options_for_select(tags_select),{:prompt => "escolha uma tag"} %>
        <%= text_field_tag :title,params[:title] %>
        <%= submit_tag 'Search' , name: nil%>
      <% end %>
    <div>

  

  
      <% @forum.each do |question| %>
          
              <%= question.user.name %></td>
              <%= question.title %></td>
              <%= l question.created_at %></td>
              <%= link_to 'Show', question %></td>
              <%if can? :edit, question%>
                  <%= link_to 'Edit', edit_post_path(question) %>
              <%end%>
              <%if can? :destroy, question%>
                  <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%end%>
      <% end %>

  <br>



  <%= link_to 'Novo tópico', new_question_path %>
</section>
