<section class="forum_list">
  <p id="notice"><%= notice %></p>

  <h1>Forum</h1>
  <div class="line"></div>

    <div class="search">
      <%= form_tag(forum_path, method: :get) do %>
        <%= select_tag :tag, options_for_select(tags_select),{:prompt => "escolha uma tag"} %>
        <%= text_field_tag :title,params[:title] %>
        <%= submit_tag 'Search' , name: nil%>
      <% end %>
    <div>

  

  
      <% @forum.each do |question| %>
          
            <div class="forum_box">
              <div class="item">
              <%= link_to question.title, question, :class => "title" %>
                <div class="description">
                  criado por <%= question.user.name %> em <%= l question.created_at %>
                  <%if can? :edit, question%>
                      <%= link_to 'Editar', edit_post_path(question), :class => "button options" %>
                  <%end%>
                  <%if can? :destroy, question%>
                      <%= link_to 'Apagar', question, :class => "button options", method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%end%>
                </div>
              </div>
            </div>
            
      <% end %>

  <br>



  <%= link_to 'Novo tópico', new_question_path, :class => "button" %>
</section>
