<p id="notice"><%= notice %></p>


<%if can? :edit, @post%>
  <%= render 'post_tags/form', {post_tag: @post_tag} %>
<%end%>

<table>
  <thead>
    <tr>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% PostTag.all.each do |post_tag| %>
      <%if post_tag.post_id == @post.id %>
        <tr>
          <td><%= post_tag.tag.name %></td>
          <%if can? :edit, @post%>
            <td><%= link_to 'Destroy', post_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<% if @post.user.photo.present? %>
  <strong>Photo:</strong>
  <%= image_tag (@post.user.photo.url) %>
<% end %>


<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>


<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.photo.present? %>
  <strong>Photo:</strong>
  <%= image_tag (@post.photo.url) %>
<% end %>

<p>
  <strong>Kind:</strong>
  <%= @post.kind %>
</p>

<%= button_to 'Like', post_likes_path(@post), method: :post %>
<p><%=@post.likes.length%></p>

<%= button_to 'Dislike', post_dislikes_path(@post), method: :post %>
<p><%=@post.dislikes.length%></p>

<%= commontator_thread(@post) %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%if @post.kind == "article"%>
  <%= link_to 'Back', articles_path %>
<%elsif @post.kind == "question"%>
  <%= link_to 'Back', forum_path %>
<%end%>