<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @goal.board %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @goal.cell %>
</p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal.deadline %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @goal.finished %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
