<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cell.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cell.description %>
</p>

<ul>
<% @goals.each do |goal| %>
  <li><%= goal.name %></li>
  <li><%= link_to "Show", goal_cell_path(goal) %></li>
  <li><%= link_to "Edit (Não Funciona)", edit_goal_cell_path(goal, cell: @cell) %></li>
  <li><%= link_to "Destroy", goal, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>

<%= render 'goal_cells/form', {cell: @cell, goal_cell: GoalCell.new} %>

<%= link_to 'Edit', edit_cell_path(@cell) %> |
<%= link_to 'Back', cells_path %>
