<!DOCTYPE html>
<html>   
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjetoFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in?%>
      <div class="navbar">
        <div class="nav_content">
          <%= image_tag("logo-in.png", :alt => "IN Junior", :class => "nav_logo")%>
          
          <div class="nav_buttons">
            <%= link_to  "home", root_path %>
            <%= link_to  "profile", current_user %>
            <%= link_to  "forum", forum_path %>
            <%= link_to  "articles", articles_path %>
             <%= link_to  "Sair", destroy_user_session_path, method: :delete %>
        <%end%>
          </div>
                
        </div>
      </div>

    <%= yield %>
  </body>
</html>
