<%= form_with(model: @fusion, local: true) do |form| %>
  <% if @fusion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fusions.errors.count, "error") %> prohibited this fusion from being saved:</h2>

      <ul>
      <% fusion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :name, { :prompt => 'Escolha um Usuario', :selected => @fusion.user_id }, { class: 'form-control' })%>
  </div>

  <div class="field">
    <%= form.label :board_id %>
    <%= form.collection_select(:board_id, Board.all, :id, :name, { :prompt => 'Escolha uma diretoria', :selected => @fusion.board_id }, { class: 'form-control' })%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>